.container
  %footer
    %ul.unstyled
      %li
        = link_to 'http://ridesurfing.herokuapp.com' do
          / = image_tag transparent_gif_image_data, alt: 'diowa', height: 25, width: 80, title: 'diowa', class: 'diowa-logo'
      - if logged_in?
        %li= link_to t('about'), :about
        %li= link_to t('how_it_works'), :how_it_works
        - unless APP_CONFIG.demo_mode
          %li= link_to t('terms'), :terms
      %li
        %i.icon-github
        = link_to 'carloscheddar/icare', APP_CONFIG.repository_url
      - if logged_in?
        %li
          %i.icon-bullhorn
          = link_to Feedback.model_name.human(count: :lot), feedbacks_url
        - if APP_CONFIG.demo_mode
          %li
            = link_to user_path(current_user), method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: t('helpers.links.confirm') } do
              %i.icon-remove
              = t('delete_account')
      - if APP_CONFIG.demo_mode
        %li
          %i.icon-warning-sign
          = t('demo_mode')

          %script{:type=>"text/javascript"}
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', - APP_CONFIG.google_analytics_id, 'ridesurfing.herokuapp.com');
            ga('send', 'pageview');
